.name {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.2%;
}

.intro {
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    opacity: 0.7;
    text-align: center;
    width: 100px;
    ;
    height: 100px;
}

.registeration-form {
    text-align: center;
    width: 50%;
    height: 20%;
    background-color: #c92d69;
}

.form-fields input[name="First-Name"],
.form-fields input[name="Last-Name"] {
    display: inline-block;
    height: max-content;
    margin-bottom: 2%;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    padding: 1%;
    width: 35%;
    scroll-behavior: smooth;
}

.form-fields input[name="user-name"] {
    width: 80%;
    height: max-content;
    margin-bottom: 2%;
    scroll-behavior: auto;
    padding: 1%;
}

.form-fields input[type="email"],
.form-fields input[name="Confirm Password"],
.form-fields input[name="email"] {
    width: 80%;
    height: max-content;
    margin-bottom: 2%;
    scroll-behavior: auto;
    padding: 1%;
}

.form-fields input[type="password"],
.form-fields input[name="Password"] {
    width: 80%;
    height: max-content;
    margin-bottom: 2%;
    scroll-behavior: auto;
    padding: 1%;
}

.buttonn button {
    font-size: larger;
    margin-bottom: 3%;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    font-size: larger;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    height: max-content;
    padding: 1%;
    border: black solid 2px;
    color: white;
    font-weight: bold;
    background-color: #c92d69
}

.messages {
    margin-bottom: 2%;
    color: rgb(0, 0, 0);
}

.text-muted {
    color: rgb(0, 0, 0);

}

input {
    width: 90%;
}

/* when want to use specific type element [] this is use to access the specific */