.registeration-form { text-align: center;  width: 50%; height:20%; background-color: #c92d69;}
.form-fields input[type = "email"], .form-fields input[name="Confirm Password"], .form-fields input[name="User-Name"]
{width: 82%; height: max-content; margin-bottom: 2%; font-size:x-large; border: black solid 2px; scroll-behavior: auto; padding: 1%;} 
.form-fields input[type ="password"], .form-fields input[name="Password"]
{width: 82%; height: max-content; margin-bottom: 2%; font-size:x-large; border: black solid 2px; scroll-behavior: auto; padding: 1%;}
.buttonn button{font-size:larger; margin-bottom: 3%; display:inline-block; width: -moz-fit-content; width: fit-content; font-size:larger; margin-inline-end:5%;
    margin-inline-start: 5%; height: max-content; padding: 1%;border: black solid 2px; color:white; font-weight: bold;
    background-color: hsl(133, 61%, 40%); background-color:rgb(40 , 167 ,69) } 
    
.messages {
        margin-bottom:2% ;

        color:rgb(0, 0, 0)
    } 
    
.text-muted{
    color:rgb(0, 0, 0); 

}